html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lousaWrapper {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  height:100%;

  background: #212121;
  color:#F2F2F2;

  font-family: 'Nunito Sans', sans-serif;
}

.container {
  max-width:1400px;
  width:100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}
